*{
    color: black;
}

.interior{
    font-style: italic;
    font-family: serif;
}

body{
    font-family: serif;
    font-size: large;
    background-color: aquamarine;
}

article header{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
}

article p{
    text-align: justify;
    font-size: large;
}

table,th,td{
    border-collapse: collapse;
    border: solid;
    border-color: black;
}

#mainheader{
    background-color: green;
    font-size: xx-large;
}

#titleform{
    text-align: left;
}

p.return{
    font-size: medium;
    color:blue;
    background-color: red;
}

input:hover{
    background-color: dodgerblue;
}

a{
    color: blue;
}

a:hover{
    color: orange;
}