*.water{
    position: fixed;
    left: 35%;
    top: 35%;
    opacity: 0.5;
    z-index: -1;
}
form.header{
    font-size: large;
    color: red;
}
#suggestion1{
    visibility: hidden;
    color: green;
}
#suggestion2{
    visibility: hidden;
    color: green;
}
#suggestion3{
    visibility: hidden;
    color: green;
}
#drophere{
    border: 2px solid black;
    width: 1200px;
    height: 350px;
}
.interior{
    font-style: italic;
    font-family: serif;
}

body{
    font-family: serif;
    font-size: large;
    background-color: aquamarine;
}

#mainheader{
    background-color: green;
    font-size: xx-large;
}

p.return{
    font-size: medium;
    color:blue;
    background-color: red;
}

article header{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
}

article p{
    text-align: justify;
    font-size: large;
}