#mainnav{
    background-color: #01acb7;
}
#mainheader{
    text-align: center;
}
#Usern{
    font-size: x-large;
}
#pass{
    font-size: x-large;
}
#downnav{
    height: 75px;
    background-color: grey;
}
#logoup{
    width: 190px;
    height: 70px;
}
#logodown{
    width: 100px;
    height: 35px;
}
#subm{
    align:center;
}
#lowtext{
    align-text: left;
    font-size: small;
}

form header{
    text-align: center;
    font-size: xx-large;
}
body header{
    text-align: center;
    font-size: xx-large;
}

article header{
    font-size: large;
    text-align: center;
}
