      <div class="row">
        <div class="col-lg-1 col-sm-0"></div>
        <div class="col-lg-10 col-sm-12">
          <form method="post" action="updatep.php">
            <header>Registro de pacientes</header>
            <div class="form-group">