      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark col-lg-12" id="downnav">
	  <span class="navbar-brand"><img alt="Logo" src="Images/LogoMSCwhite.png" id="logodown"></span>
	  <span class="navbar-text navbar-brand" id="lowtext">2017. Médica Santa Carmen. Programa de registro de exámenes.</span>
        </nav>
      </div>
    </div>
  </body>
</html>
