      <nav class="nav nav-tabs">
        <ul class="nav nav-tabs">
          <li class="nav-brand"><a href="registro_examenes.index.html"><button class="btn btn-primary active">Información básica</button></a></li>
          <li><a href="registro_examenes2.index.html"><button class="nav-brand btn btn-secondary">Tira reactiva</button></a></li>
          <li><a href="registro_examenes3.index.html"><button class="nav-brand btn btn-secondary">Tira microalbúmina</button></a></li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-lg-1 col-sm-0">
        </div>
        <div class="col-lg-10 col-sm-12">
          <form action="rexamen.php" method="post">
            <header>Datos generales de paciente</header>
            <div class="form-group">
              <label for="FechaExamen">Fecha de examen</label>
              <input type="date" class="col-lg-12 col-sm-12 form-control" id="FechaExamen" name="FechaExamen" required>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-sm-6">
                <label for="Peso">Peso</label>
                <input type="number" class="col-lg-12 col-sm-12 form-control" id="Peso" placeholder="Peso del paciente" name="Peso" required>
              </div>
              <div class="form-group col-lg-6 col-sm-6">
                <label for="Talla">Talla</label>
                <input type="number" class="col-lg-12 col-sm-12 form-control" id="Talla" placeholder="Altura del paciente" name="Talla" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="imc">IMC</label>
                <input type="number" class="col-lg-12 form-control" id="imc" placeholder="0" disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-sm-6">
                <label for="TipoSange">Tipo de sangre</label>
                <input type="text" class="col-lg-12 col-sm-12 form-control" id="TipoSangre" placeholder="Tipo de sangre" name="TipoSangre" required>
              </div>
              <div class="form-group col-lg-6 col-sm-6">
                <label for="Presion">Presión arterial</label>
                <input type="number" class="col-lg-12 col-sm-12 form-control" id="Presion" placeholder="Presión arterial" name="Presion" required>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Siguiente</button>
            </div>
          </form>
        </div>
        <div class="col-lg-1 col-sm-0">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark col-lg-12" id="downnav">
          <span class="navbar-brand"><img alt="Logo" src="Images/LogoMSCwhite.png" id="logodown"></span>
          <span class="navbar-text navbar-brand" id="lowtext">2017. Médica Santa Carmen. Programa de registro de exámenes.</span>
        </nav>
      </div>