        <nav class="navbar navbar-expand-lg navbar-dark" id="downnav">
            <span class="navbar-brand"><img alt="Logo" src="Images/LogoMSCwhite.png" id="logodown"></span>
            <span class="navbar-text navbar-brand" id="lowtext">Médica Santa Carmen @2017. Programa de registro de exámenes.</span>
        </nav>
	<script src="js/login.js"></script>
    </body>
</html>
