            <div class="row">
                <div class="col-sm-12">
                    <header><h1 class="display-4" id="mainheader">Login</h1></header>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-0"></div>
                <div class="col-lg-6 col-sm-12">
                    <form action="validatesession.php" method="post">
                        <div class="form-group">
                            <label for="usrname" id="Usern">Nombre de usuario</label>
                            <input type="text" placeholder="Nombre de usuario" class="form-control col-sm-12 form-control-lg" id="usrname" name="uname" required>
                            <p class="form-text text-muted">El nombre de usuario no debe contener más de 30 caracteres.</p>
                        </div>
                        <div class="form-group">
                            <label for="pswd" id="Usern">Contraseña</label>
                            <input type="password" placeholder="Contraseña" class="form-control col-sm-12 form-control-lg" id="pswd" name="pswd"required>
                            <p class="form-text text-muted">La contraseña no debe contener más de 30 caracteres.</p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" id="subm">Iniciar sesión</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-sm-0"></div>
            </div>
        </div>
