      <nav class="nav nav-tabs">
	<ul class="nav nav-tabs">
	  <li class="nav-brand"><a href="registro_examenes.index.html"><button class="btn btn-secondary">Información básica</button></a></li>
	  <li><a href="registro_examenes2.index.html"><button class="nav-brand btn btn-primary active">Tira reactiva</button></a></li>
	  <li><a href="registro_examenes3.index.html"><button class="nav-brand btn btn-secondary">Tira microalbúmina</button></a></li>
	</ul>
      </nav>
      <div class="row">
	<div class="col-lg-1 col-sm-0"></div>
	<div class="col-lg-10 col-sm-12">
	  <form action="registro_examenes3.index.html">
	    <header>Tira reactiva</header>
	    <div class="row">
              <div class="form-group col-lg-4">
		<label for="leu">LEU</label>
		<select class="custom-select" id="leu" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">One</option>
		  <option value="2">Two</option>
		  <option value="3">Three</option>
		</select>
              </div>
              <div class="form-group col-lg-4">
		<label for="nit">NIT</label>
		<select class="custom-select" id="nit" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">One</option>
		  <option value="2">Two</option>
		  <option value="3">Three</option>
		</select>
              </div>
              <div class="form-group col-lg-4">
		<label for="uro">URO</label>
		<select class="custom-select" id="uro" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
		</select>
              </div>
	    </div>
	    <div class="row">
              <div class="form-group col-lg-4">
		<label for="pro">PRO</label>
		<select class="custom-select" id="pro" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
		</select>
              </div>
              <div class="form-group col-lg-4">
		<label for="ph">PH</label>
		<select class="custom-select" id="ph" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
		</select>
              </div>
              <div class="form-group col-lg-4">
		<label for="blo">BLO</label>
		<select class="custom-select" id="blo" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">1</option>
		</select>
              </div>
	    </div>
	    <div class="row">
              <div class="form-group col-lg-4">
		<label for="sg">SG</label>
		<select class="custom-select" id="sg" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
		</select>
              </div>
              <div class="form-group col-lg-4">
		<label for="ket">KET</label>
		<select class="custom-select" id="ket" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
		</select>
              </div>
              <div class="form-group col-lg-4">
		<label for="bil">BIL</label>
		<select class="custom-select" id="bil" required>
		  <option selected value="">Selecciona una opción</option>
		  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
		</select>
              </div>
	    </div>
	    <div class="form-group">
	      <button class="btn btn-primary" type="submit">Siguiente</button>
	    </div>
	  </form>
	</div>
	<div class="col-lg-1 col-sm-0"></div>
      </div>