      <nav class="nav nav-tabs">
        <ul class="nav nav-tabs">
          <li class="nav-brand"><a href="registro_examenes.index.html"><button class="btn btn-primary active">Información básica</button></a></li>
          <li><a href="registro_examenes2.index.html"><button class="nav-brand btn btn-secondary">Tira reactiva</button></a></li>
          <li><a href="registro_examenes3.index.html"><button class="nav-brand btn btn-secondary">Tira microalbúmina</button></a></li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-lg-1 col-sm-0">
        </div>
        <div class="col-lg-10 col-sm-12">
          <form action="registro_examenes2.index.html" enctype="multipart/form-data" method="post">
            <header>Datos generales de paciente</header>
            <div class="form-group">
              <label for="FechaExamen">Fecha de examen</label>
              <input type="date" class="col-lg-12 col-sm-12 form-control" id="FechaExamen" required>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-sm-6">
                <label for="Peso">Peso</label>
                <input type="number" class="col-lg-12 col-sm-12 form-control" id="Peso" placeholder="Peso del paciente" required>
              </div>
              <div class="form-group col-lg-6 col-sm-6">
                <label for="Talla">Talla</label>
                <input type="number" class="col-lg-12 col-sm-12 form-control" id="Talla" placeholder="Altura del paciente" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="imc">IMC</label>
                <input type="number" class="col-lg-12 form-control" id="imc" placeholder="0" disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-sm-6">
                <label for="TipoSange">Tipo de sangre</label>
                <input type="text" class="col-lg-12 col-sm-12 form-control" id="TipoSangre" placeholder="Tipo de sangre" required>
              </div>
              <div class="form-group col-lg-6 col-sm-6">
                <label for="Presion">Presión arterial</label>
                <input type="number" class="col-lg-12 col-sm-12 form-control" id="Presion" placeholder="Presión arterial" required>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Siguiente</button>
            </div>
          </form>
            <form action="upload.php" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="ticket">Foto de ticket</label>
                        <input type="file" id="ticket" name="ticket" required>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">Subir foto</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-1 col-sm-0">
        </div>
      </div>
      <br>
      <br>