#mainnav{
    background-color: #1FB3C6;
}
#downnav{
    background-color: grey;
}
#logoup{
    background-color: white;
    width: 177px;
    height: 75px;
}
#logodown{
    background-color: white;
    width: 138px;
    height: 50px;
}

form header{
    text-align: center;
    font-size: xx-large;
}
body header{
    text-align: center;
    font-size: xx-large;
}

article header{
    font-size: large;
    text-align: center;
}