#mainnav{
    background-color: #1FB3C6;
}
#mainheader{
    text-align: center;
}
#Usern{
    font-size: x-large;
}
#pass{
    font-size: x-large;
}
#downnav{
    background-color: grey;
}
#logoup{
    background-color: white;
    width: 177px;
    height: 75px;
}
#logodown{
    background-color: white;
    width: 138px;
    height: 50px;
}
#subm{
    background-color: aqua;
    align-content: center;
    font-size: x-large;
}